<div class="row">
    <h1>Drop an Idea</h1>
    <form>
      <div class="form-group">
        <label for="name">Text</label>
        <input #ideaText type="text" class="form-control" id="name" required>
      </div>
 
      <div class="form-group">
        <label for="alterEgo">Author</label>
        <input #ideaAuth type="text" class="form-control" id="alterEgo">
      </div>
 
      <button (click)="onClickedAdd(ideaAuth.value, ideaText.value)" type="button" class="btn btn-success">Add</button>
 
    </form>
</div>
<br><br><br>

<div class="row">
    <div class="col-sm-4">
        Enter author:    
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <input #idVal  (keyup.enter)="onClickGetByAuthorName(idVal.value)" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <button (click)="onClickGetByAuthorName(idVal.value)" type="button" class="btn btn-primary">Find</button>  
    </div>
</div>

<div class="row">
<div class="well well-lg" *ngFor="let idea of ideas">
<div class="panel-group">
    <div class=" panel panel-default ">
        <div class="panel-body">{{idea.text}}</div>
        <div class="panel-footer text-right">
            <div class="text-left">posted by: {{idea.author}}</div>
            <div class="text-left">{{idea.date}}</div>
            <div class="text-left">ID {{idea.id}}</div>
            
            <div>
                <!-- (change!!!!) -->
                <button (click)="onClickLike(idea.id)"  type="button" class="btn btn-default btn">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    
                    {{idea.likes}}
                </button>
                <button (click)="onClickDislike(idea.id)"type="button" class="btn btn-default btn">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    {{idea.dislikes}}
                    
                </button>
            </div>

        </div>
      </div>  
</div>
</div>
</div>